<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div>
<h1>Built With</h1>
</div>

<div>
<h2>URL</h2>
<form action="{{ url_for('listar') }}" method="POST">
<input type="text" name="site" placeholder='http://example.com/'>
<input type="submit" value="built with">
</form>
</div>

<div class="page-footer">
<p>Code by Newton Galiza</p>
</div>

</body>
</html>
