<!DOCTYPE html>
<html>

<head>
<title>Built With</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div>
<h1>BUILT WITH</h1>
</div>

<div>
Site: {{ url }}
</div>

<div>
<table>
{% for key,val in bw.items() %}
{{ key }}
{{ val }}
{% endfor %}
</table>
</div>

<div>
<a href="{{ url_for('index') }}"><input type="submit" value="back"></a>
</div>

<div class="page-footer">
<p>Code by Newton Galiza</p>
</div>

</body>
</html>
